{
  "log": {
    "_recordingName": "queries (e2e)/getQuote",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "d5cd9642768544cb2433ae2fd6787f25",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"client_id\":\"redacted-auth0-client-id\",\"client_secret\":\"redacted-auth0-client-secret\",\"audience\":\"https://registree.rocks/apis\",\"grant_type\":\"client_credentials\"}"
          },
          "queryString": [],
          "url": "https://registree.eu.auth0.com/oauth/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 149,
            "text": "{\"access_token\":\"redacted-auth0-access-token\",\"scope\":\"registree admin lecturer student verifier recruiter\",\"expires_in\":36000,\"token_type\":\"Bearer\"}"
          },
            {
              "expires": "2022-02-23T02:23:54.000Z",
              "httpOnly": true,
              "maxAge": 31557600,
              "name": "did",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "s:v0:e27fb7b0-754b-11eb-bc37-f99606ed3c1c.toRddPUkEKFyJ2HBUg/QL9h0BlHU5QD6S9mw9MumaZA"
            },
            {
              "expires": "2022-02-23T02:23:54.000Z",
              "httpOnly": true,
              "maxAge": 31557600,
              "name": "did_compat",
              "path": "/",
              "secure": true,
              "value": "s:v0:e27fb7b0-754b-11eb-bc37-f99606ed3c1c.toRddPUkEKFyJ2HBUg/QL9h0BlHU5QD6S9mw9MumaZA"
            }
          ],
   [...]
