{
  "log": {
    "_recordingName": "queries (e2e)/getQuote",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "d5cd9642768544cb2433ae2fd6787f25",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"client_id\":\"redacted-auth0-client-id\",\"client_secret\":\"redacted-auth0-client-secret\",\"audience\":\"https://registree.rocks/apis\",\"grant_type\":\"client_credentials\"}"
          },
          "queryString": [],
          "url": "https://registree.eu.auth0.com/oauth/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 149,
            "text": "{\"access_token\":\"redacted-auth0-access-token\",\"scope\":\"registree admin lecturer student verifier recruiter\",\"expires_in\":36000,\"token_type\":\"Bearer\"}"
          },
            {
              "expires": "2022-02-17T04:54:41.000Z",
              "httpOnly": true,
              "maxAge": 31557600,
              "name": "did",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "s:v0:f43c0450-70a9-11eb-9ab4-d7cb193def6a.W/NEJ/YE8D/nG9wWtkj+5xnDzpYxpZwW/kBdQxik7eo"
            },
            {
              "expires": "2022-02-17T04:54:41.000Z",
              "httpOnly": true,
              "maxAge": 31557600,
              "name": "did_compat",
              "path": "/",
              "secure": true,
              "value": "s:v0:f43c0450-70a9-11eb-9ab4-d7cb193def6a.W/NEJ/YE8D/nG9wWtkj+5xnDzpYxpZwW/kBdQxik7eo"
            }
          ],
   [...]
